body {
  background-color: #f4f2ee;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* MAIN SECTION */

#informazioniArea p,
#activityArea p {
  font-size: 0.875rem;
}

/* ASIDE */
.imgProfiles {
  max-width: 50px;
}

/* BUTTON SHOW MORE */

.buttonShowMore a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.61);
  font-weight: 600;
  font-size: 16px;
}

.buttonShowMore {
  background-color: white;
}

.buttonShowMore:hover {
  background-color: #f3f3f3;
  /*Daniele Russo pipo piccolo impossibile fare un hover ad un bottone*/
}
.buttonShowMore:hover a {
  color: black;
}

.iconaButton {
  font-size: 25px;
}

/* FOOTER */

#footer p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: gray;
}

#footer p:hover,
#footer h5:hover {
  color: rgb(10, 102, 194);
  cursor: pointer;
  text-decoration: underline;
}

#footer h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: gray;
  margin: 0;
}

#footer h5 + p:hover {
  color: gray;
  text-decoration: unset;
  cursor: default;
}

#languageSelector option,
#languageSelector,
#labelLanguageSelector {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: gray;
}

#credits {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: gray;
}

.footerIcons {
  color: rgba(0, 0, 0, 0.678);
}

/* Messagistica */
.hover-border:hover {
  border-color: #2b2929 !important;
  border-width: 1.6px !important;
  background-color: #2b292900 !important;
  color: #080808;
}

/* Stile per l'elemento attivo */
.active-link {
  border-bottom: 2px solid #323233;

  color: #252525;
}

/* Stile per l'hover */
.hover-nav:hover {
  border-bottom: 2px solid #3f3e3e; /* Colore del bordo inferiore al passaggio del mouse */
}
